
<div id="allergen_form">
<div id="errall"></div>
<h1 >Add allergen</h1>
<div class="row">
<div class="col-xs-12">
    	<%= link_to "finish ", root_url,
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary" %>
	


</div>
</div>
