<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Recipely è stata realizzata da:
	<ul>
		<li><b>Angelo Catalani</b></li>
		<li><b>Leonardo Di Paolantonio</b></li>
		<li><b>Alessandro Lo Presti</b></li>
		<li><b>Adriano Pimpini</b></li>
	</ul>
</p>
<p>
	Ringraziamo il Prof. Massimo Mecella e il Prof. Leonardo Querzoni per averci dato l'opportunità di realizzare questo progetto.
</p>