<% provide(:title, "Help") %>   <%# associa la stringa "Help" all’etichetta :title %>
<h1>Help</h1>
<p>
	Recipely è stata realizzata da:
	<ul>
		<li><b>Angelo Catalani</b></li>
		<li><b>Leonardo Di Paolantonio</b></li>
		<li><b>Alessandro Lo Presti</b></li>
		<li><b>Adriano Pimpini</b></li>
	</ul>
</p>

