<% provide(:title, "Help") %>   <%# associa la stringa "Help" all’etichetta :title %>
<h1>Help</h1>
<h2>Benvenuto in Recipely!</h2>
<p>
	Recipely è un’applicazione che ti permette di entrare nel mondo delle ricette culinarie, imparare a preparare nuove pietanze non è mai stato così facile!
</p>
<p>
	La nostra missione principale è quella di permettere ad un pubblico sempre più vasto di “assaporare” nuove ricette con pochi semplici click. 
	Il meccanismo che permette tutto ciò è la condivisione di nuove ricette da parte di utenti registrati che con la loro esperienza, visualizzabile attraverso i badges conquistati, ti permetteranno di essere il più confidente possibile nei confronti di novità da portare in tavola. <br>
	Sei un esperto nel settore e, oltre ad apprendere ed accrescere la tua esperienza, vuoi anche raccontare le tue esperienze in cucina? Allora cosa stai aspettando? Iscriviti al sito da <a href="http://localhost:3000/signup">qui</a>.
</p>
<p>
	Da utente registrato, puoi condividere nuove ricette o, addirittura, creare nuovi eventi in cui dare il massimo e far sapere agli altri di che “pasta” sei fatto, puoi seguire i migliori chef attualmente in circolazione, ma soprattutto puoi guadagnarti il rispetto e la fama che ti meriti. <br>
	Vi sono moltissime altre funzionalità che potrai scoprire solamente entrando nel mondo di Recipely, non farti scappare l’opportunità di conquistare una donna per la gola, oppure essere acclamato dai tuoi amici per una bella serata ricca di portate deliziose, ti stiamo aspettando!
</p>
<p>
	Recipely è stata realizzata da:
	<ul>
		<li><b>Angelo Catalani</b></li>
		<li><b>Leonardo Di Paolantonio</b></li>
		<li><b>Alessandro Lo Presti</b></li>
		<li><b>Adriano Pimpini</b></li>
	</ul>
</p>

