<% provide(:title, "Help") %>   <%# associa la stringa "Help" all’etichetta :title %>
<h1>Help</h1>

<h2> Guida alla registrazione</h2>
<p>
	Su Recipely è possibile <a href="http://localhost:3000/signup">registrarsi</a> in pochi e semplici click. Al momento della registrazione viene richiesto un indirizzo mail ed una password, che è possibile cambiare in ogni momento. 
</p>


