<% provide(:title, "Help") %>   <%# associa la stringa "Help" all’etichetta :title %>
<h1>Help</h1>
<h2>Benvenuto in Recipely!</h2>
<p>
	Recipely è un’applicazione che ti permette di entrare nel mondo delle ricette culinarie, imparare a preparare nuove pietanze non è mai stato così facile!
</p>

