<% provide(:title, "Help") %>   <%# associa la stringa "Help" all’etichetta :title %>
<h1>Help</h1>

<h2> Guida alla registrazione</h2>
<p>
	Su Recipely è possibile <a href="http://localhost:3000/signup">registrarsi</a> in pochi e semplici click. Al momento della registrazione viene richiesto un indirizzo mail ed una password, che è possibile cambiare in ogni momento. 
</p>
<p>
	All'interno del vostro account potete inserire i vostri dati personali, controllare le notifiche, creare una nuova ricetta o creare un nuovo evento. Una volta registrati, potrete seguire altri utenti per restare sempre aggiornati sulle novità da loro pubblicate o essere seguiti mostrando le proprie ricette o i propri eventi.
</p>
<p>
	Agli eventi potranno partecipare solamente gli utenti invitati: ti ricordiamo, nel caso in cui sei stato invitato ad un evento, di controllare più volte le previsioni meteo per evitare spiacevoli inconvenienti.
</p>
<p>	
	Per ulteriori informazioni, rivolgiti al nostro staff!
</p>
<h2><center>In ogni caso, BUON DIVERTIMENTO!</center></h2>

