<div class="center jumbotron">      <!-- classe specifica per Bootstrap -->
	<h1>Welcome to the Recipely!</h1>
	<h2>
		This is where you can find the best recipes!
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>        <!-- classi specifice per Bootstrap -->
</div>
<%=  image_tag("mario.png", alt: "Rails logo") %>  
<!-- sta roba l'ho lasciata solo come esempio, mette l'immagine di SuperMario nella home come link cliccabile, l'immagine sta in assets/images -->
