<div>

<ul class="users">
	
	All Comment

<% @comments.order('created_at DESC').each do |comment| %>
	<li>
	<%= gravatar_for comment.user, size: 50 %>
	<font color="#0000FF"> <%= link_to comment.user.name, user_path(comment.user.id) %> </font> 
	<br/>
	 <%= comment.content %>
	<br/>
	<%= comment.created_at %>
<% end %>


</ul>
</div>
