
<li id="recipe">
  <%= link_to gravatar_for(recipe.user, size: 50), recipe.user %>
  <span class="user"><%= link_to recipe.user.name, recipe.user %></span>
  <span class="title"><%= link_to recipe.title,recipe_path(recipe.id) %></span>
  <%= image_tag recipe.picture.url if recipe.picture? %>
</li>

