<div id="com">
<FONT SIZE="6" COLOR="#FFA500"> <%= pluralize(@event.users.count, "Guest") %> </FONT>
<br/>
<br/>
<div class="box">
<br/>
<% @event.users.each do |guest| %>
	<li  class="padded" >
	<%= gravatar_for guest, size: 50 %>
	<font color="#0000FF"> <%= link_to guest.name, user_path(guest.id) %> </font> 
	
	<% if current_user?(@event.user) %>
		| <%= link_to "Delete", Invitation.find_by(event_id: @event.id, user_id: guest.id), method: :delete,data: { confirm: "You sure?" }, remote: true %>
	<% end %>
	
	</li><br/>
	<hr style="border: 1px solid " ></hr>
	
	
<% end %>

</div>
</div>
