
<h1> 1 oz of <%= @ingr.name.capitalize %></h1>
<table>
<% @info.each do |t, a| %>
	<% next if t=='uri'%>
  <tr><td><h3><%= t unless t=='totalNutrients' || t=='uri'%></h3></td>
  
  <% if t=='totalNutrients' %>
	
  <% break %>
  <% end %>
  
  <td><h2><%= a %></h2></td>
  
  <br/>
  </tr>
<% end %>




</table>


