<footer class="footer">
	<small>
		The Recipely</a>
		by Rebibbia's tech</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",'#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			
		</ul>
	</nav>
</footer>
