<header class="navbar navbar-fixed-top navbar-inverse">   <!-- classi che servono per Bootstrap --> 
	<div class="container">
		<%= link_to "Recipely", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav pull-right">     <!-- classi che servono per Bootstrap --> 
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
